@import './Variables.scss';

h1 {
    color: white;
    font-size: 4.25rem;
}

p {
    color: $color-dark-secondary;
    font-size: 1.25rem;
}

h2 {
    color: white;
    font-size: 2.25rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

h5 {
    color: $color-dark-secondary;
    font-size: 1.75rem;
}

.btn {
    @include btn;
}

.btn__primary {
    color: $color-dark-primary;
}