@import '../variables/Variables.scss';

.about {
    @include themed() {
        background: t($bg);
    }
    padding-bottom: 3rem;

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2 {
            padding-bottom: 3.5rem;
        }

        p {
            padding-bottom: 2rem;
        }

        button {
            margin-bottom: 1rem;
        }

    }

    &__social {
        text-align: center;
        margin-top: 2rem;

        i {
            @include icon;
            color: $icon-dark;
            margin: 0 .5rem;
        }
    }

}