@import '../variables/Variables.scss';

.contact {
    padding: 5rem 0 7.5rem 0;
    background: $bg-dark;

    &__main {
        padding-top: 5rem;
    }

    &__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
        text-align: center;
        margin:0 auto;

        @media screen and (max-width: 1000px) {
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem;
        }

        @media screen and (max-width: 600px) {
            grid-template-columns: 1fr;
            grid-gap: 2rem;
        }

    }

}