@import '../variables/Variables.scss';

.navbar {
    @include themed() {
        background-color: t($bg);
    }
    padding: 1rem 10rem;
    font-size: 2rem;
    color: $icon-dark;

    &__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            @include icon;
        }
    }
}