@import '../variables/Variables.scss';

.progress {

    margin: 1rem 2rem;

    &__bar {
        height: 10px;
        background: $color-dark-secondary;
        border-radius: 1rem;
    }

    &__details {
        padding-bottom: .5rem;
        color: $color-dark-secondary;
        font-size: 1.05rem;

        &-progress {
            float: right;
        }

    }

    &__inline {
        padding: .25rem;
        box-shadow: 2px 2px 3px 3px lighten($bg-dark, 5%), -2px -2px 5px 5px darken($bg-dark, 7.5%);
        border-radius: 1rem;
    }
    
    &__outline {
        margin-top: 1rem;
    }

}